<!--SIDEBAR DESKTOP-->
<div class="ui visible left vertical inverted labeled icon sidebar menu" id="sidebar">
    <a href="/patients" class="item"><i class="home icon"></i><p>Home</p></a>
    <a href="/mycare" class="item"><i class="user circle outline icon"></i><p>Perawantanku</p></a> 
    <a href="/patientcalendar" class="item"><i class="calendar icon"></i>Kalender</a>   
    <a href="/chatview" class="item"><i class="comment icon"></i><p>Pesan</p></a>
    <a class="item"><i class="payment icon"></i><p>Tagihan</p></a>
    <a href="/patientsettings" class="item"><i class="settings icon"></i><p>Pengaturan</p></a>
</div>


<!--SIDEBAR MOBILE-->
<div class="ui bottom inverted six item labeled icon sidebar menu visible" id="navbar">
    <a href="/patients" class="item"><i class="home icon"></i><p>Home</p></a>
    <a href="/mycare" class="item"><i class="user circle outline icon"></i><p>Perawantanku</p></a> 
    <a href="/patientcalendar" class="item"><i class="calendar icon"></i>Kalender</a>   
    <a href="/chatview" class="item"><i class="comment icon"></i><p>Pesan</p></a>
    <a class="item"><i class="payment icon"></i><p>Tagihan</p></a>
    <a href="/patientsettings" class="item"><i class="settings icon"></i><p>Pengaturan</p></a>
</div>