{{> nav }}

<div class="main ui stackable grid container">
    <div class="ui container sixteen wide column">
        <div class="ui raised teal segment">
            <div class="row">
                <h1 class="ui header">
                    <img src="../assets/images/person.png" class="ui circular image"> Selamat datang Dr. Alga Prananda
                    <a href="/">
                        <div id="logout" class="ui basic button">Keluar</div>
                    </a>
                </h1>
            </div>
        </div>
    </div>
    <div class="eight wide column">
        <table class="ui red two column table" id="table">
            <thead class="ui inverted">
                <tr>
                    <th class="twelve wide"><i class="alarm icon"></i>Peringatan</th>
                    <th class="four wide">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="mail outline icon"></i>Pesan Baru dari Dinda</td>
                    <td>Incomplete</td>
                </tr>
                <tr>
                    <td><i class="phone icon"></i>Tindak lanjuti panggilan dengan Dinda</td>
                    <td>Incomplete</td>
                </tr>
                <tr>
                    <td><i class="mail outline icon"></i>Pesan Baru dari Diana</td>
                    <td>Incomplete</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="eight wide column">
        <table class="ui blue one column table" id="table">
            <thead>
                <tr>
                    <th><i class="checkmark box icon"></i>tugas</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <div class="ui checkbox">
                            <input type="checkbox">
                            <label>Menindaklanjuti panggilan dengan Fiki Naki</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ui checked checkbox">
                            <input type="checkbox">
                            <label>Tindak lanjuti panggilan dengan Andhika Pratama</label>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="ui checked checkbox">
                            <input type="checkbox">
                            <label>Kirim referensi untuk Dinda</label>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="ui sixteen wide column">
        <table class="ui teal table" id="table">
            <thead>
                <tr>
                    <th class="three wide"><i class="alarm icon"></i>Janji Mendatang</th>
                    <th class="three wide"></th>
                    <th class="five wide"></th>
                    <th class="five wide"></th>
                </tr>
                <tr>
                    <th class="three wide">Tanggal</th>
                    <th class="three wide">Waktu</th>
                    <th class="five wide">Pasien</th>
                    <th class="five wide">Jenis Janji Temu</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>December 24, 2021</td>
                    <td>10:00am</td>
                    <td>Alga Prananda</td>
                    <td>Consultation</td>
                </tr>
                <tr>
                    <td>December 24, 2021</td>
                    <td>10:00am</td>
                    <td>Alga Prananda</td>
                    <td>Consultation</td>
                </tr>
                <tr>
                    <td>December 24, 2021</td>
                    <td>10:00am</td>
                    <td>Alga Prananda</td>
                    <td>Consultation</td>
                </tr>
                <tr>
                    <td>December 24, 2021</td>
                    <td>10:00am</td>
                    <td>Alga Prananda</td>
                    <td>Consultation</td>
                </tr>
                <tr>
                    <td>December 24, 2021</td>
                    <td>10:00am</td>
                    <td>Alga Prananda</td>
                    <td>Consultation</td>
                </tr>
                <tr>
                    <td>December 24, 2021</td>
                    <td>10:00am</td>
                    <td>Alga Prananda</td>
                    <td>Consultation</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>